body {
      color:white;
}  
.container {
display: flex;
margin:auto;
background-color: grey;
align-content: center;
align-items: center;
width: 300px; 
margin-top:200px;
justify-content: center;
box-shadow: none;
border-radius: 10px;
height: 300px;

}
fieldset {
      padding: 20px;
      border-width: 5px;
      border: overflow;
      box-shadow: none;
      border-radius: 10px;
      
}
input {
      border-radius: 5px;
      padding: 10px 10px 0;
      box-shadow: none;
     
}
.btnn {
      align-content: space-between;
      margin-top: 15px;
      align-content: space-between;
      border-radius: 5px;
      box-shadow: none;
}
/* .frm {
      display: flex;
      justify-content: center;
} */

button {
      margin-top: 15px;
      border-radius: 5px;
      box-shadow: none;
      outline:none;
      padding: 5px 10px;
}